
<footer>
    <div class="container">
        <p>Ambev S.A.: Rua Renato Paes de Barros, 1.017, 4º andar , Itaim-Bibi, São Paulo, SP - CEP 04530-001</p>
        <p>A loja online do Emporiodacerveja.com.br é operada pela Infracommerce CNPJ: 15.427.207/0002-03 / Inscrição Estadual: 298.167.930.119 / Endereço: Rua José Semiao Rodrigues</p>
        <p>Agostinho 1370 - Galpão 25 - Embu das Artes - SP - CEP: 06833-370</p>
        <div class="clear"></div>
    </div><!--container-->
</footer>


<script type="text/javascript" src="js/script.js"></script>
</body>
</html>