<%- include('partials/header')%>

    <link href="stylesheets/acessorios.css" rel="stylesheet" type="text/css">
    <section class="venda">
        <div class="line-titulo">
                <div class="ln1"></div>
                <h2>Acessorios</h2>
        </div><!--line-titulo-->
    
        <div class="content-venda">
            <div class="container">
            <div class="sidebar searchArea">
                    <div class="search1">
                        <h2>Filtre por preço</h2>
                        <div class="barra-preco">
                            <div class="barra-preco-fill"></div><!--barra-preco-fill-->
                            <div class="pointer-barra"></div>
                        </div><!--barra-preco-->
                        <div class="valor-pesquisa">
                            <p>R$0,00</p>
                            <p>R$10.000,00</p>
                        </div><!--valor-pesquisa-->
                    </div><!--search1-->
    
                    <div class="search2">
                        <h2>Filtre por tipo</h2>
                        <form>
                        <div class="form-venda-wraper">
                            <input type="checkbox" id="item1" />
                            <label for="item1">
                                <div class="circle"></div>
                            </label><!--item-->
                            <span>Todos os tipos</span>
                        </div><!--form-venda-wraper-->
    
    
                        <div class="form-venda-wraper">
                            <input type="checkbox" id="item2" />
                            <label for="item2">
                                <div class="circle"></div>
                            </label>
                            <span>Copos</span>
                        </div><!--form-venda-wraper-->
    
    
                        <div class="form-venda-wraper">
                            <input type="checkbox" id="item3" />
                            <label for="item3">
                                <div class="circle"></div>
                            </label>
                            <span>Geladeiras e freezers</span>
                        </div><!--form-venda-wraper-->
    
                        <div class="form-venda-wraper">
                            <input type="checkbox" id="item4" />
                            <label for="item4">
                                <div class="circle"></div>
                            </label>
                            <span>Outros</span>
                        </div><!--form-venda-wraper-->
                        </form>
                    </div><!--search2-->
            </div><!--sidebar-->
    
            <div class="vitrine-venda contentArea">
    
    
            <div class="vitrine-destaque">
            <img src="images/copoColorado.webp" class="cerveja-img" alt="copoColorado">
            <div class="info-produto">
                <h2>Copo Colorado 350ml</h2>
                <p>Fabricante: Colorado</p>
                <p>Tipo: Copos</p>
                <span class="preco">R$ 15,90</span>
                <div class="btnContainer">
                <span class="arrLeft">-</span>
                    <span class="qtyProd" href="">1</span>
                <span class="arrRight">+</span>
                </div>
            </div><!--info-produto-->
        </div><!--vitrine-destaque-->
    
        <div class="vitrine-destaque">
            <img src="images/abridor.webp" class="cerveja-img" alt="abridor">
            <div class="info-produto">
                <h2>Abridor de garrafas Budweiser-Fifa</h2>
                <p>Fabricante: Emporio da Cerveja</p>
                <p>Tipo: Outros</p>
                <span class="preco">R$ 14,90</span>
                <div class="btnContainer">
                <span class="arrLeft">-</span>
                    <span class="qtyProd" href="">1</span>
                <span class="arrRight">+</span>
                </div>
            </div><!--info-produto-->
        </div><!--vitrine-destaque-->
    
        <div class="vitrine-destaque">
            <img src="images/cervejeiraColorado.webp" class="cerveja-img" alt="coloradoGeladeira">
            <div class="info-produto">
                <h2>Cervejeira Colorado 37L (127V)</h2>
                <p>Fabricante: Colorado</p>
                <p>Tipo: Geladeiras e freezers</p>
                <span class="preco">R$ 1.450,00</span>
                <div class="btnContainer">
                <span class="arrLeft">-</span>
                    <span class="qtyProd" href="">1</span>
                <span class="arrRight">+</span>
                </div>
            </div><!--info-produto-->
        </div><!--vitrine-destaque-->
    
        <div class="vitrine-destaque">
            <img src="images/moletomColorado.webp" class="cerveja-img" alt="coloradoMoletom">
            <div class="info-produto">
                <h2>Moletom Cinza Urso</h2>
                <p>Fabricante: Colorado</p>
                <p>Tipo: Outros</p>
                <span class="preco">R$ 179,90</span>
                <div class="btnContainer">
                <span class="arrLeft">-</span>
                    <span class="qtyProd" href="">1</span>
                <span class="arrRight">+</span>
                </div>
            </div><!--info-produto-->
        </div><!--vitrine-destaque-->
    
        <div class="vitrine-destaque">
            <img src="images/baldebudweiser.webp" class="cerveja-img" alt="budweiserBalde">
            <div class="info-produto">
                <h2>Balde Budweiser</h2>
                <p>Fabricante: Budweiser</p>
                <p>Tipo: Outros</p>
                <span class="preco">R$ 89,90</span>
                <div class="btnContainer">
                <span class="arrLeft">-</span>
                    <span class="qtyProd" href="">1</span>
                <span class="arrRight">+</span>
                </div>
            </div><!--info-produto-->
        </div><!--vitrine-destaque-->
    
        <div class="vitrine-destaque">
            <img src="images/copoSerramalte.gif" class="cerveja-img" alt="Serramalte">
            <div class="info-produto">
                <h2>Copo Serramalte 340ml</h2>
                <p>Fabricante: Serramalte</p>
                <p>Tipo: Copos</p>
                <span class="preco">R$ 14,90</span>
                <div class="btnContainer">
                <span class="arrLeft">-</span>
                    <span class="qtyProd" href="">1</span>
                <span class="arrRight">+</span>
                </div>
            </div><!--info-produto-->
        </div><!--vitrine-destaque-->
    
            </div><!--vitrine-venda-->
            </div><!--container-->
        </div><!--content-venda-->
    
    </section><!--venda-->
</body>
</html>