<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../public/stylesheets/cervejas.css" rel="stylesheet">
    <title>Cervejas</title>
</head>
<body>
    <section class="venda">
        <div class="line-titulo">
                <div class="ln1"></div>
                <h2>Cervejas</h2>
        </div><!--line-titulo-->

        <aside class="sideCart">
        
        </aside>
    
        <div class="content-venda">
            <div class="container">
            <div class="sidebar searchArea">
                    <div class="search1">
                        <h2>Filtre por preço</h2>
                        <div class="barra-preco">
                            <div class="barra-preco-fill"></div><!--barra-preco-fill-->
                            <div class="pointer-barra"></div>
                        </div><!--barra-preco-->
                        <div class="valor-pesquisa">
                            <p>R$0,00</p>
                            <p>R$70.000,00</p>
                        </div><!--valor-pesquisa-->
                    </div><!--search1-->
    
                    <div class="search2">
                        <h2>Filtre por tipo</h2>
                        <form>
                        <div class="form-venda-wraper">
                            <input type="checkbox" id="item1" />
                            <label for="item1">
                                <div class="circle"></div>
                            </label><!--item-->
                            <span>Todos os tipos</span>
                        </div><!--form-venda-wraper-->
    
    
                        <div class="form-venda-wraper">
                            <input type="checkbox" id="item2" />
                            <label for="item2">
                                <div class="circle"></div>
                            </label>
                            <span>IPA</span>
                        </div><!--form-venda-wraper-->
    
    
                        <div class="form-venda-wraper">
                            <input type="checkbox" id="item3" />
                            <label for="item3">
                                <div class="circle"></div>
                            </label>
                            <span>Pilsen</span>
                        </div><!--form-venda-wraper-->
    
                        <div class="form-venda-wraper">
                            <input type="checkbox" id="item4" />
                            <label for="item4">
                                <div class="circle"></div>
                            </label>
                            <span>Trigo</span>
                        </div><!--form-venda-wraper-->
                        </form>
                    </div><!--search2-->
            </div><!--sidebar-->
    
            <div class="vitrine-venda contentArea">
    
    
            <div class="vitrine-destaque">
            <img src="../public/images/antuerpia.webp" class="cerveja-img" alt="antuerpia">
            <div class="info-produto">
                <h2>Cerveja Antuérpia American IPA 500ml</h2>
                <p>Fabricante: Antuerpia</p>
                <p>Tipo: IPA</p>
                <span class="preco">R$ 19,50</span>
                <div class="btnContainer">
                <span class="arrLeft">-</span>
                    <span class="qtyProd" href="">1</span>
                <span class="arrRight">+</span>
                </div>
            </div><!--info-produto-->
        </div><!--vitrine-destaque-->
    
        <div class="vitrine-destaque">
            <img src="../public/images/brewdog.webp" class="cerveja-img" alt="brewdog">
            <div class="info-produto">
                <h2>Cerveja Brewdog Clockwork Tangerine 330ml</h2>
                <p>Fabricante: Brewdog</p>
                <p>Tipo: IPA</p>
                <span class="preco">R$ 25,90</span>
                <div class="btnContainer">
                <span class="arrLeft">-</span>
                    <span class="qtyProd" href="">1</span>
                <span class="arrRight">+</span>
                </div>
            </div><!--info-produto-->
        </div><!--vitrine-destaque-->
    
        <div class="vitrine-destaque">
            <img src="../public/images/brooklyn.webp" class="cerveja-img" alt="brooklyn">
            <div class="info-produto">
                <h2>Cerveja Brooklyn East IPA 350ml</h2>
                <p>Fabricante: Brooklyn</p>
                <p>Tipo: IPA</p>
                <span class="preco">R$ 15,90</span>
                <div class="btnContainer">
                <span class="arrLeft">-</span>
                    <span class="qtyProd" href="">1</span>
                <span class="arrRight">+</span>
                </div>
            </div><!--info-produto-->
        </div><!--vitrine-destaque-->
    
        <div class="vitrine-destaque">
            <img src="../public/images/colorado_indica.webp" class="cerveja-img" alt="colorado">
            <div class="info-produto">
                <h2>Cerveja Colorado Indica 600ml</h2>
                <p>Fabricante: Colorado</p>
                <p>Tipo: IPA</p>
                <span class="preco">R$ 15,90</span>
                <div class="btnContainer">
                <span class="arrLeft">-</span>
                    <span class="qtyProd" href="">1</span>
                <span class="arrRight">+</span>
                </div>
            </div><!--info-produto-->
        </div><!--vitrine-destaque-->
    
        <div class="vitrine-destaque">
            <img src="../public/images/tupiniquim.webp" class="cerveja-img" alt="tupiniquim">
            <div class="info-produto">
                <h2>Cerveja Tupiniquim Citrus IPA 350ml</h2>
                <p>Fabricante: Tupiniquim</p>
                <p>Tipo: IPA</p>
                <span class="preco">R$ 14,90</span>
                <div class="btnContainer">
                <span class="arrLeft">-</span>
                    <span class="qtyProd" href="">1</span>
                <span class="arrRight">+</span>
                </div>
            </div><!--info-produto-->
        </div><!--vitrine-destaque-->
    
        <div class="vitrine-destaque">
            <img src="../public/images/vedett.webp" class="cerveja-img" alt="Vedett">
            <div class="info-produto">
                <h2>Cerveja Vedett IPA 330ml</h2>
                <p>Fabricante: Vedett</p>
                <p>Tipo: IPA</p>
                <span class="preco">R$ 16,42</span>
                <div class="btnContainer">
                <span class="arrLeft">-</span>
                    <span class="qtyProd" href="">1</span>
                <span class="arrRight onlyOneBut">+</span>
                </div>
            </div><!--info-produto-->
        </div><!--vitrine-destaque-->
    
            </div><!--vitrine-venda-->
            </div><!--container-->
        </div><!--content-venda-->
    
    </section><!--venda-->
    <script>

        const cartAddButton = document.querySelectorAll('.arrRight');

        function openCart() {
            document.querySelector('.content-venda').style.width = '70%';
            document.querySelector('.sideCart').style.display = 'block';
        }

        function closeCart() {
            document.querySelector('.content-venda').style.width = '100%';
            document.querySelector('.sideCart').style.display = 'none';
        }

        cartAddButton.forEach((item) => {
            item.addEventListener('click', openCart);
        });

        const deleteButton = document.querySelectorAll('.arrLeft');

        deleteButton.forEach((item) => {
            item.addEventListener('click', closeCart);
        });

    </script>
</body>
</html>