<%- include('partials/header')%>
<link href="css/clube.css" rel="stylesheet" type="text/css">
<main>
    <section class="howItWorks">
        <div class="divTitle">
            <h2 class="secondaryTitle">COMO FUNCIONA O PRIME</h2>
        </div>
        </section>
    <section class="benefits">
        <div class="divTitle">
            <h2 class="secondaryTitle">COMO O CLUBE FUNCIONA:</h2>
        </div>
        <div class="allBenefits">
            <div class="benefits1">
                <div class="img">
                    <img src="images/desconto.png" alt="discount"/>
                </div>
                <h4 class="titileBenefit">DE 10 A 50% DE DESCONTOS EM TODOS OS PRODUTOS</h4>
                <div class="divHover">
                    <!--                <p>-->
                    <!--                    Todos os produtos da loja tem descontos p/ assinantes que variam de 10 a 50% de desconto. É só-->
                    <!--                    inserir no carrinho que o desconto é aplicado automaticamente-->
                    <!--                </p>-->
                </div>
            </div>
            <div class="benefits2">
                <div class="img">
                    <img src="images/entrega-gratis.png" alt="discount"/>
                </div>
                <h4 class="titileBenefit">FRETE GRÁTIS EM TODOS PRODUTOS</h4>
                <div class="divHover">
                    <!--                    <p>-->
                    <!--                        SP Capital <br>-->
                    <!--                        2 Fretes Grátis <br>-->
                    <!--                        SP Interior, DF e Demais Capitais do sudeste <br>-->
                    <!--                        1 Frete Grátis <br>-->
                    <!--                        1 Frete 50% <br>-->
                    <!--                        de desconto-->
                    <!--                    </p>-->
                </div>
            </div>
            <div class="benefits3">
                <div class="img">
                    <img src="images/promocao.png" alt="discount"/>
                </div>
                <h4 class="titileBenefit">LANÇAMENTOS E OFERTAS EM 1ª MÃO</h4>
                <div class="divHover">
                    <!--                    <p>-->
                    <!--                        Assinante BeerPrime tem uma página exclusiva repleta de promoções de até 50% OFF.-->
                    <!--                    </p>-->
                </div>
            </div>
        </div>
    </section>
    <section class="plans">
        <div class="divTitle">
            <h2 class="secondaryTitle">SE CADASTRE NO CLUBE</h2>
        </div>
        <div class="optionsOfPlans">
            <div class="fistPlan">
                <div class="imgBeer">
                    <img src="images/4cervejas.jpg" alt="4cervejas" class="beer"/>
                </div>
                <p class="valuePlans">RECEBA NA SUA CASA 4 GARRAFAS DE CERVEJAS<br>R$ 40,OO/mês</p>
                <div class="btn">
                    <a class="btnStyle">ASSINAR PLANO</a>
                </div>
            </div>
            <div class="secondPlan">
                <div class="imgBeer">
                    <img src="images/8cervejas.jpg" alt="8cervejas" class="beer"/>
                </div>
                <p class="valuePlans">RECEBA NA SUA CASA 8 GARRAFAS DE CERVEJAS<br>R$ 80,OO/mês </p>
                <div class="btn">
                    <a class="btnStyle">ASSINAR PLANO</a>
                </div>
            </div>
            <div class="thirdPlan">
                <div class="imgBeer">
                    <img src="images/12cervejas.jpg" alt="12cervejas" class="beer"/>
                </div>
                <p class="valuePlans">RECEBA NA SUA CASA 12 GARRAFAS DE CERVEJAS<br>R$ 100,OO/mês</p>
                <div class="btn">
                    <a class="btnStyle">ASSINAR PLANO</a>
                </div>
            </div>
        </div>
    </section>
</main>

<%- include('partials/footer')%>
