<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BeerClub - </title>
    <link rel="stylesheet" href="/css/home.css">

</head>
<body>
    <header>
        <div class="logo">
            <a href="/index.html"><img src="/img/ClubHouseLogo.png" alt="BeerClub"></a>
        </div>
        <div class="searchIcon">
            <img src="/img/22545231.jpg" alt="pesquisa">
        </div>
        <input type="text" placeholder="Encontre sua cerveja" class="search">
        <div class="rightMenu">
            <ul>
                <li>
                    <a href="/views/oclube.html">
                        Login
                    </a>
                    <img src="/img/speed-beer-logo-icon-design-vector-22545238.jpg" alt="login">
                </li>
                <li>
                    <a href="/views/acessorios.html">
                        Carrinho
                    </a>
                    <img src="/img/22545228.jpg" alt="carrinho">
                </li>
            </ul>
        </div>
        <div class="menu">
            <ul>
                <li><a href="/views/oclube.html">O CLUBE</a></li>
                <li><a href="/views/acessorios.html">Acessórios</a></li>
                <li><a href="/views/kits.html">Kits</a></li>
                <li><a href="/views/cervejas.html">Cervejas</a></li>
            </ul>
        </div>
    </header>
    <main>
        <div class="carousel">
            <img src="/img/Screen Shot 2020-09-01 at 21.09.05.png" alt="car1">
        </div>
    
    
        <div class="func">
            <h1>Como funciona o Clube</h1>
            <div class="content">
                <h4>Ecolha um dos nossos planos</h4>
                <span>
                    Receba mensalmente cervejas selecionadas
                    no conforto da sua casa
                </span>
                <img src="/img/images.png" alt="delivery">
                <span>
                    Receba descontos nas compras avulsas
                    em nossa loja
                </span>
                <img src="/img/desconto.jpeg" alt="desconto">
            </div>
            <img src="/img/beerFriends.jpeg" alt="como funciona">
        </div>
        <div class="planos">
            <h1>Nossos Planos</h1>
            <div class="gridass">
                <div class="griditem">
                    <h1 class="assinTit">Iniciante</h1>
                    <img src="https://th.bing.com/th/id/OIP.ObbJiDhLYTTBrNDLkalkJAAAAA?w=175&h=180&c=7&o=5&pid=1.7" class="assinAva" alt="iniciante">
                    <h3 class="assinQuant">3 Garrafas</h3>
                    <h5 class="assinPrec">Preço 34,90</h5>
                    <button class="det">Detalhes</button>
                </div>
                <div class="griditem">
                    <h1 class="assinTit">Bohemio</h1>
                    <img src="https://th.bing.com/th/id/OIP.m0jN0ut_wMPTAG49vH6FPgHaHa?w=216&h=216&c=7&o=5&pid=1.7" class="assinAva" alt="Bohemio">
                    <h3 class="assinQuant">6 Garrafas</h3>
                    <h5 class="assinPrec">Preço 57,90</h5>
                    <button class="det">Detalhes</button>
                </div>
                <div class="griditem">
                    <h1 class="assinTit">Viking Maldito</h1>
                    <img src="https://th.bing.com/th/id/OIP.yx8artVJMEZjCtjUj7cPYwHaHa?w=216&h=216&c=7&o=5&pid=1.7" class="assinAva" alt="viking">
                    <h3 class="assinQuant">12 Garrafas</h3>
                    <h5 class="assinPrec">Preço 99,90</h5>
                    <button class="det">Detalhes</button>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="footer">
            <h1>O clube das melhores cervejas</h1>
        </div>
    </footer>
    

</body>
</html>