<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BeerClub - </title>
    <link rel="stylesheet" href="/css/home.css">

</head>
<body>
    <header>
        <div class="logo">
            <a href="/index.html"><img src="/img/ClubHouseLogo.png" alt="BeerClub"></a>
        </div>
        <div class="searchIcon">
            <img src="/img/22545231.jpg" alt="pesquisa">
        </div>
        <input type="text" placeholder="Encontre sua cerveja" class="search">
        <div class="rightMenu">
            <ul>
                <li>
                    <a href="/views/oclube.html">
                        Login
                    </a>
                    <img src="/img/speed-beer-logo-icon-design-vector-22545238.jpg" alt="login">
                </li>
                <li>
                    <a href="/views/acessorios.html">
                        Carrinho
                    </a>
                    <img src="/img/22545228.jpg" alt="carrinho">
                </li>
            </ul>
        </div>
        <div class="menu">
            <ul>
                <li><a href="/views/oclube.html">O CLUBE</a></li>
                <li><a href="/views/acessorios.html">Acessórios</a></li>
                <li><a href="/views/kits.html">Kits</a></li>
                <li><a href="/views/cervejas.html">Cervejas</a></li>
            </ul>
        </div>
    </header>
    <main>
        <h1>Criar pagina de kits</h1>
    </main>
    <footer>
        <div class="footer">
            <h1>O clube das melhores cervejas</h1>
        </div>
    </footer>
    

</body>
</html>