*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Open Sans";
	-webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
}
 /* CSS QUE ESTAVA NA home.css */
.container{
	max-width: 1280px;
	margin:0 auto;
}

.clear{
	clear: both;
}


footer{
	padding:40px 2%;
	background: #F0F0F0;
	color:black;
	margin-top: 60px;
  }
  
  footer p{
   text-align: center;
	font-size: 14px;
  }
  

/* -----FIM-----*/

@media screen and (max-width: 600px) {

    container-footer {
      display: none;
    }
  
  }
  