*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Open Sans";
	-webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
}


html,body{
	height: 100%;
}


@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}
/*--slider--*/
.slider{
	width: 100%;
	margin-top:152px;
	height: 421px;

}
.w3-section{
	margin-top: 202px;
}
.mySlides {
	display: none;
}
/*--slider--*/
section{
  width: 100%;
}
h2 {
  text-align: center;
  padding:20px;

}
.sessao2{
  width: 100%;
  background-color: #e5e5e5;
  padding:0 2%;
  height:auto;
}

.sessao2 .container{
  max-width: 1000px;
  height: calc(100% + 30px);
}
.texto-sessao2 h2{
  font-size: 26px;
  font-weight: 300;
  padding: 30px;
  font-weight: bold;
}

.texto-sessao2{
  width: 100%;
  text-align: center;
  color:black;
  font-weight: bold;
}
.texto-sessao2_2{
  width: 100%;
  background: red;
}


.texto-sessao2 p{
  margin-top:20px;
  font-size: 15px;
}

.texto-sessao2 ul{
  font-size: 15px;
  list-style-position: outside;
  padding-left: 15px;
}

.texto-sessao2 ul li{
  width: 100%;
  margin-top:8px;
}

.secao{
  width: 100%;
  height: 70px; 
}
.container1{
  width: 100%
}
.destaque{
  width: 100%;
  border:1px solid #000;
  border-radius: 20px;
  display: flex;
}
.prodDestaque{
  width:25%;
  background: white;
  text-align: center;
  margin: 30px;
  border-radius: 10px;
}
.prodDestaque p{
 text-align: center;
 margin:0;
 padding: 15px;
}
.cerveja01{
  width: 100%;
  height:auto; 
  display: flex;
  margin: 5px;

}

.beer01{
    box-shadow: 0 0 5px rgba(0,0,0,.3);
    border-radius: 5px;
    width: 25%;
    margin: 5px;
    background-color: white;
  
}
.beer01_img{
    width: 100%;
    transform: scale(.5);
    
}
.beer01_img:hover{
    transform: scale(1);
}
.texto_card{
  text-align: center;
}
.RatingStars{
  padding: 20px;
  text-align: center;
}
.fas {
  width: 20px;
}
.preco{
  width: 100%;
}
.preco button{
 width:100%;
 height: 50px;
 background-color:#1ABC9C;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
        
    .w3-section{
      display: none;
    }
    .sessao2{
      width: 100%;
      margin-top: -162px;
}
 
    .prodDestaque{
      width: 17%;
      margin: 0;
      margin-left: 23px;
    }
    .prodDestaque p{
      font-size: 8px;
      text-align: center;
    }
    .import{
      font-size: 18px;
      padding: 0;
    }
    .Typo--bold{
      text-align: center;
   }
    .cerveja01{
      flex-direction: column;
    }
    .beer01{
      width: 95%;
    }
    .sessao3{
      width: 100%;
      height: 300px;
    }
    section .part1{
      margin-top: 20px;
      height: 270px;
      padding: 0;
    }
    section .wraper-part1 h2{
      width:100%;
      font-size: 10px;
    }
     section .wraper-part1 p{ 
      width:100%;
      font-size: 10px;
    } 

    section .part2{
       padding: 0;
       height: 270px;
  }
    section .wraper-titulo-autor h2{
      width:100%;
      font-size: 10px;
      margin-top: 20px;

    }
    section .texto-autor p{
      font-size: 10px;
      margin-top: 20px;
    }
     section .newsletter01 h2 {
          text-align: center;
          font-size: 15px;
    }

     section .newsletter01 p {
          text-align: center;
          font-size: 10px;
    }

    section .emailInputBottom{
      width:80%;
      margin: 0;
      margin: 20px 0 0 40px;
  

    }
    section .btn_enviar{
      position: absolute;
      top: 100%;
      margin: 2180px 0 60px 0;
    }
    section .inform_usuario{
        width:100%;
        margin: 0;
        padding: 0;
        margin-top: 10px;
        font-size: 10px;
        flex-direction: column;
    }
      section .conosco {
          width: 100%;
          margin: 0;
          padding: 0;
    }
      section .pagamento{
        width:300px;
        flex-direction: column;
        margin-top: 90px;

      }

    section .oClub{
      width: 50%;
      flex-direction: column;

    }
    footer{
      width: 100%;
      margin-top: 300px;
      border:2px solid #000;
    }
 }

@media only screen and (min-width: 1382px){
    header{
      width: 100%;
    }

  .sessao2 h2{
    margin-top:268px;
  }
  section .emailInputBottom{
    margin-left: 610px;
  }
  section .btn_enviar{
    margin-top: 1459px;
    margin-left: -150px;
  }
  section .conosco p{
     margin-left:200px; 
  }
  section .conosco ul li a{
     margin-left:200px;
  } 
  section .imgPagamentos {
       margin-left: 100px;
  } 
  section .imgPagamentos img{
       margin-left: 20px;
  } 
}
@media screen and (max-width: 768px){

header{
	width: 100%;
	padding:40px 2%;
}

nav.desktop-menu{
	display:none;
}

nav.mobile-menu{
	display: block;
}


section.sessao1{
	padding:40px 2%;
	height: auto;
	text-align: center;
}

.sessao1 .container{
	height: auto;
}


.texto-sessao1{
	width: 100%;
	margin-top:0;
	padding-left: 0;
	position: static; 
	float: none;
	display: inline-block;
}

.texto-sessao1 ul{
	display: inline-block;
	margin-top:20px;
}

.texto-sessao1 ul li{
	float: none;
	text-align: left;
}

.btn1-texto{
	display: inline-block;
}

.device-sessao1{
	display: none;
}

.sessao2{
	padding-top: 40px;
 }
}


/*-----sessoa3----*/
.sessao3{
  width: 100%; 
}

.part1{
  color: black;
  float: left;
  width: 50%;
  height:430px;
  padding:140px 0 90px 0;
  background: #f0f0f0;
}

.wraper-part1{
  max-width: 600px;
  float: right;
  padding:0 30px;
}

.part1 h2{
  font-weight: 300;
  font-style: italic;
  font-size: 23px;
}

.part1 p{
  font-size: 15px;
  line-height: 35px;
  margin-top:10px;
}

.part2{
  float: left;
  width: 50%;
  height:430px; 
  padding:140px 0 90px 0;
  background:white;
}
.scrollEquipe{
  max-width: 600px;
  padding-left: 30px;
  overflow: auto;
}
.scroll-wraper{
  width: 100%;
}
.sobre-autor{
  float: left;
  width: 100%;
}

.titulo-autor{
  float: left;
  width: 100%;
}

.wraper-titulo-autor{
  float: left;
}

.titulo-autor h2{
  color: #232323;
  font-weight: 400;
  font-size: 21px;
  padding-right: 20px;
}

.titulo-autor p{
  font-size: 13px;
  color: #232323;
  font-style: italic;
  font-weight: 300;
}

.titulo-autor .img-autor{
  float: left;
  width: 40px;
  height:40px;
  background-image: url('../images/beer01.png');
  background-size: 100% 100%;
  border-radius: 20px;
  background-color: transparent;
}

.texto-autor{
  float: left;
  width: 100%;
  margin-top:10px;
}

.texto-autor p{
  color: #232323;
  font-size: 15px;
}

.slider-bullets{
  width: 100%;
  float: left;
  padding-left: 30px;
  margin-top:12px;
}

.slider-bullets span{
  width: 16px;
  height: 16px;
  float: left;
  margin-right: 8px;
  cursor: pointer;
  border-radius: 8px;
  background-color: rgb(200,200,200);
}

/*------fim sessao3---*/



/*---sessao5---*/
.newsletter{
  width: 100%;
  background-color: orange;
  height: 200px;
}
.fiqueDentro{
  text-align: center;
}
.formNewNotici{

}
.form-contro{
  width: 100%;
  height: 80px;
  border:1px solid #fff;
  border-radius: 50px;
  outline: none;

}
::placeholder{
  width:100%;
  color: blue;

  
}
.btnAssinar{
  position: relative;
    width: 10%;
    font-size: 16px;
    color: #fff;
    background-color: #363636;
    border-radius: 30px;
}
.emailInputBottom{
  width: 680px;
  margin-left: 20%;
  margin-top: 20.5px;
  border: 2px solid #000;
  border-radius: 20px;
  padding: 13.8px;
}
.btn_enviar{
  background-color:#000;
  position: absolute;
  top: 100%;
  left: 73.8%;
  padding:13px;
  margin-top: 1243px;
  border-radius: 21px;
  color:white;
}
/*-----fim sessao5----*/

/*--sessao6--*/

.relacionamento{
    width: 100%;
    height:400px;
   }

 .inform_usuario{
  width: 100%;
  display:flex;
  height:390px;
  padding: 20px;
  margin-top: 20px;
 }  
 .conosco, .pagamento, .oClub{
  width: 33.3%;
  margin: 5px;
  height:390px;
 }
.conosco p {
  margin:5px;
  margin-left: 95px;
}

h4{
  text-align: center;
  padding-top: 10px;
}

.conosco ul{
  list-style-type: none;
  margin: 5px;
}
.conosco ul li a{
  color:orange;
  margin-left: 90px;
}
.conosco ul li a:hover {
  color: gray;
}
.imgPagamentos{
  width: 100%;
}
.imgPagamentos{
  display: block;
  margin-left: 60px;
}
.oClub img{
  margin-left: 100px;
  margin-top: 20px;
  display: block;
  width: 120px;

}
.oClub ul{
  list-style-type: none;
  margin-top: 30px;
}
.oClub li a{
  color:orange;
  margin-left: 90px;
}

/*-----fim sessao6----*/