<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./styles.css" rel="stylesheet">
    <title>Kits</title>
</head>
<body>
    <section class="venda">
        <div class="line-titulo">
                <div class="ln1"></div>
                <h2>Kits</h2>
        </div><!--line-titulo-->
    
        <div class="content-venda">
            <div class="container">
            <div class="sidebar searchArea">
                    <div class="search1">
                        <h2>Filtre por preço</h2>
                        <div class="barra-preco">
                            <div class="barra-preco-fill"></div><!--barra-preco-fill-->
                            <div class="pointer-barra"></div>
                        </div><!--barra-preco-->
                        <div class="valor-pesquisa">
                            <p>R$0,00</p>
                            <p>R$10.000,00</p>
                        </div><!--valor-pesquisa-->
                    </div><!--search1-->
    
                    <div class="search2">
                        <h2>Filtre por tipo</h2>
                        <form>
                        <div class="form-venda-wraper">
                            <input type="checkbox" id="item1" />
                            <label for="item1">
                                <div class="circle"></div>
                            </label><!--item-->
                            <span>Todos os tipos</span>
                        </div><!--form-venda-wraper-->
    
    
                        <div class="form-venda-wraper">
                            <input type="checkbox" id="item2" />
                            <label for="item2">
                                <div class="circle"></div>
                            </label>
                            <span>Copos</span>
                        </div><!--form-venda-wraper-->
    
    
                        <div class="form-venda-wraper">
                            <input type="checkbox" id="item3" />
                            <label for="item3">
                                <div class="circle"></div>
                            </label>
                            <span>Cervejas</span>
                        </div><!--form-venda-wraper-->
    
                        <div class="form-venda-wraper">
                            <input type="checkbox" id="item4" />
                            <label for="item4">
                                <div class="circle"></div>
                            </label>
                            <span>Outros</span>
                        </div><!--form-venda-wraper-->
                        </form>
                    </div><!--search2-->
            </div><!--sidebar-->
    
            <div class="vitrine-venda contentArea">
    
    
            <div class="vitrine-destaque">
            <img src="../../images/kitColorado.webp" class="cerveja-img" alt="kitColorado">
            <div class="info-produto">
                <h2>Kit Colorado 4 Ribeirão Lager + 2 copos Colorado</h2>
                <p>Fabricante: Colorado</p>
                <p>Tipo: Cervejas</p>
                <span class="preco">R$ 64,58</span>
                <div class="btnContainer">
                <span class="arrLeft">-</span>
                    <span class="qtyProd" href="">1</span>
                <span class="arrRight">+</span>
                </div>
            </div><!--info-produto-->
        </div><!--vitrine-destaque-->
    
        <div class="vitrine-destaque">
            <img src="../../images/cervejasTrigo.webp" class="cerveja-img" alt="cervejasTrigo">
            <div class="info-produto">
                <h2>Kit de Degustação de Cervejas de Trigo</h2>
                <p>Fabricante: Emporio da Cerveja</p>
                <p>Tipo: Cervejas</p>
                <span class="preco">R$ 84,94</span>
                <div class="btnContainer">
                <span class="arrLeft">-</span>
                    <span class="qtyProd" href="">1</span>
                <span class="arrRight">+</span>
                </div>
            </div><!--info-produto-->
        </div><!--vitrine-destaque-->
    
        <div class="vitrine-destaque">
            <img src="../../images/kitPatagonia.webp" class="cerveja-img" alt="kitPatagonia">
            <div class="info-produto">
                <h2>Kit Patagonia com Copo</h2>
                <p>Fabricante: Patagonia</p>
                <p>Tipo: Cervejas</p>
                <span class="preco">R$ 34,99</span>
                <div class="btnContainer">
                <span class="arrLeft">-</span>
                    <span class="qtyProd" href="">1</span>
                <span class="arrRight">+</span>
                </div>
            </div><!--info-produto-->
        </div><!--vitrine-destaque-->
    
        <div class="vitrine-destaque">
            <img src="../../images/bolachaChopp.webp" class="cerveja-img" alt="bolachasChopp">
            <div class="info-produto">
                <h2>Kit Bolachas de Chopp Bohemia 838 Pale Ale - 4 unidades</h2>
                <p>Fabricante: Bohemia</p>
                <p>Tipo: Outros</p>
                <span class="preco">R$ 6,90</span>
                <div class="btnContainer">
                <span class="arrLeft">-</span>
                    <span class="qtyProd" href="">1</span>
                <span class="arrRight">+</span>
                </div>
            </div><!--info-produto-->
        </div><!--vitrine-destaque-->
    
        <div class="vitrine-destaque">
            <img src="../../images/kitColoradoAppia.webp" class="cerveja-img" alt="kitColoradoAppia">
            <div class="info-produto">
                <h2>Kit 6 Colorado Appia 410ml + 3 Copo Colorado 350ml</h2>
                <p>Fabricante: Colorado</p>
                <p>Tipo: Cervejas</p>
                <span class="preco">R$ 79,90</span>
                <div class="btnContainer">
                <span class="arrLeft">-</span>
                    <span class="qtyProd" href="">1</span>
                <span class="arrRight">+</span>
                </div>
            </div><!--info-produto-->
        </div><!--vitrine-destaque-->
    
        <div class="vitrine-destaque">
            <img src="../../images/kitHocusPocus.webp" class="cerveja-img" alt="Serramalte">
            <div class="info-produto">
                <h2>Kit Hocus Pocus Orange Sunshine + Taça Cogumelo 330ml</h2>
                <p>Fabricante: Hocus Pocus</p>
                <p>Tipo: Cervejas</p>
                <span class="preco">R$ 39,90</span>
                <div class="btnContainer">
                <span class="arrLeft">-</span>
                    <span class="qtyProd" href="">1</span>
                <span class="arrRight">+</span>
                </div>
            </div><!--info-produto-->
        </div><!--vitrine-destaque-->
    
            </div><!--vitrine-venda-->
            </div><!--container-->
        </div><!--content-venda-->
    
    </section><!--venda-->
</body>
</html>